.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background-color: liner-gradient(100deg, #0c0c1d, #111132);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .wrapper{
    max-width: 1366px;
    height: 100px;
    margin: auto;

    .textContainer{
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      h2{
        font-size: 30px;
        color: rebeccapurple;
        letter-spacing: 5px;
      }
      h1{
        font-size: 88px;
      }
      .downArrow{
        width: 60px;
        padding: 10px;
        height: auto;
        background-color: white;
        border-radius: 50%;
      }
      .buttons{
        button{
          padding: 20px;
          border: solid 1px white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          margin-right: 20px;
          font-weight: 300;
          cursor: pointer;
        }
      }
    }
  }

  .imageContainer {

    img {
      width: 700px;
      height: 700px;
      border-radius: 50%;
      background-position: center;
      // overflow: hidden;
    }
  }

  // .slidingTextContainer{
  //   position: absolute;
  //   font-size: 50vh;
  //   bottom: -120px;
  //   white-space: nowrap;
  //   color: #ffffff09;
  //   font-weight: bold;
  //   overflow: hidden;
  // }
}